<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'micro/style.css' %}" />
  <title>Scalica</title>
</head> 
<body>
  <div id="header">
    {% if user.is_authenticated %}
      <a href = "/">{{ user.username }}</a>
      <a href="{% url 'micro:logout' %}">Log Out</a>
    {% else %}
      <a href="{% url 'micro:login' %}">Log In</a>
    {% endif %}
	<form action = "/search/" method="POST">
        {% csrf_token %}
	<input type="text" name="text">
	<input type="submit" value= "Zafoogle Search">
	</form>
    {% block header %}{% endblock header %}
  </div>
  <div id="sidebar">
    {% block sidebar %}{% endblock sidebar %}
  </div>
  <div id="content">
    {% block content %}{% endblock content %}
  </div>
  <div id="footer">
    <p>© 2017 Scalica inc. All rights reserved.</p>
    {% block footer %}{% endblock footer %}
  </div>
</body>
</html>
