<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'micro/style.css' %}" />
  <title>Scalica</title>
</head> 
<body>
  <div id="header">
    {% if user.is_authenticated %}
      {{ user.username }}
      <a href="{% url 'micro:logout' %}">Log Out</a>
    {% else %}
      <a href="{% url 'micro:login' %}">Log In</a>
    {% endif %}
    {% block header %}{% endblock header %}
  <div id="search">
	<form action="/micro/search/" method="search">
      	{{form}}
		<input type="text" name="text_field"/>
		<input type="submit" value="Search" />
	</form>
  </div>
  </div>
  <div id="sidebar">
    {% block sidebar %}{% endblock sidebar %}
  </div>
  <div id="content">
    {% block content %}{% endblock content %}
  </div>
  <div id="footer">
    <p>Copyright Scalica</p>
    {% block footer %}{% endblock footer %}
  </div>
</body>
</html>
