{% extends "micro/base.html" %}
{% load humanize %}
{% load staticfiles %}

  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

{% block content %}

{% if posts %}
	{% for post in posts %}
	{% for user in users %}
<div class="container">
		
		{% for x in post %}
	<div class="row">
			<div class="col">{{x}}</div>
			<div class="col">-{{user}}</div>
			
	</div>
		{% endfor %}
</div>
	{% endfor %} 
	{% endfor %} 

{% else %}
	<p> No search results. </p>
{% endif %}
	
{# TODO: see complete pagination example in Django doc for more #}
{% endblock %}
