{% extends "micro/base.html" %}
{% load humanize %}
{% load staticfiles %}

  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

{% block content %}

{% if results %}
	<h3> {{num_results}} results </h3>
	{% for result in results %}
<div class="searchlist">
		
			<div class="row">@{{result.user}}</div></br>
			{% for s in result.post%}
			<div class="row">{{s}}</div>
			{% endfor %} 
			

</div></br>
	{% endfor %} 

{% else %}
	<p> No search results. </p>
{% endif %}
	
{# TODO: see complete pagination example in Django doc for more #}
{% endblock %}
